<div class="modal-overlay animate-if" ng-if="showModal" ng-click="hideModal()">
  <div class="close-container">
    <i class="fa fa-times"></i>
  </div>

  <div class="table-layout">
    <div class="cell">
      <div class="view-book-modal modal-container" ng-show="bookModal.visible" ng-click="doNothing()" stop-event>
        <div class="book-picture" back-img="{{bookModal.selectedBook.get('picture').url()}}"></div>
        <div class="book-info">
          <div class="info-header">
            <div class="title">{{bookModal.selectedBook.get('name')}}</div>
            <div class="subtitle">{{bookModal.selectedBook.get('courseName')}} ({{bookModal.selectedBook.get('courseTaken')}})</div>
          </div>

          <div class="info-content">
            <div class="text">ISBN: {{bookModal.selectedBook.get('ISBN')}}</div>
            <div class="text">Condition: {{bookModal.selectedBook.get('condition')}}</div>
            <div class="text">Price: ${{bookModal.selectedBook.get('price')}}</div>
            <div class="text" ng-if="bookModal.selectedBook.get('notes')">Notes: {{bookModal.selectedBook.get('notes')}}</div>
          </div>

          <div class="info-footer">
            <button class="btn btn-primary btn-lg btn-block" ng-click="contactSeller()">Inquire About Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-page">
  <div class="jumbotron">
    <div class="overlay"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <h1>Find Books on Campus</h1>
      
          <p>
            Have you been using Facebook groups to buy and sell groups? Does it suck? Then, this is what you need. We're a one-stop shop for books at the University of Michigan.
          </p>

          <form class="search-holder" ng-submit="searchBooks()">
            <div class="input-holder">
              <input type="text" placeholder="Search by book name, course name, ISBN" ng-model="searchBooksObj.query" />
            </div>
            <div class="input-holder button-holder">
              <button type="submit" ng-click="searchBooks()" class="btn btn-primary btn-lg">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="book-cards">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in searchBooksObj.results" ng-if="searchBooksObj.results.length">
          <div class="book-card" ng-click="showBookModal(book)">
            <div class="picture-holder">
              <div class="picture-overlay">
                <div class="table-layout">
                  <div class="cell">
                    <div class="title">${{book.get('price')}}</div>
                    <div class="tip">{{book.get('numViews')}} Views Today</div>
                  </div>
                </div>
              </div>
              <div class="picture" back-img="{{book.get('picture').url()}}"></div>
            </div>

            <div class="info-holder">
              <div class="title">{{book.get('name')}}</div>
              <div class="subtitle">{{book.get('courseName')}} ({{book.get('courseTaken')}})</div>
              <div class="tip">{{book.get('condition')}} &bull; {{getBookPostedDate(book)}}</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in recentBooksObj.results" ng-if="!searchBooksObj.results.length">
          <div class="book-card" ng-click="showBookModal(book)">
            <div class="picture-holder">
              <div class="picture-overlay">
                <div class="table-layout">
                  <div class="cell">
                    <div class="title">${{book.get('price')}}</div>
                    <div class="tip">{{book.get('numViews')}} Views Today</div>
                  </div>
                </div>
              </div>
              <div class="picture" back-img="{{book.get('picture').url()}}"></div>
            </div>

            <div class="info-holder">
              <div class="title">{{book.get('name')}}</div>
              <div class="subtitle">{{book.get('courseName')}} ({{book.get('courseTaken')}})</div>
              <div class="tip">{{book.get('condition')}} &bull; {{getBookPostedDate(book)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 