<div class="close-container animate-if" ng-show="showModal" ng-click="hideSuperModal()">
  <i class="fa fa-times"></i>
</div>

<div class="modal-overlay animate-if" ng-show="showModal" ng-click="hideSuperModal()">
  <div class="table-layout">
    <div class="cell">
      <div class="view-book-modal modal-container" ng-show="bookModal.visible" ng-click="doNothing()" stop-event>
        <div class="book-picture" back-img="{{bookModal.selectedBook.get('picture').url()}}"></div>

        <div class="book-info">
          <div class="info-header">
            <div class="title">{{bookModal.selectedBook.get('name')}}</div>
            <div class="subtitle">{{bookModal.selectedBook.get('courseName')}} ({{bookModal.selectedBook.get('courseTaken')}})</div>
          </div>

          <div class="info-content">
            <div class="text">ISBN: {{bookModal.selectedBook.get('ISBN')}}</div>
            <div class="text">Condition: {{bookModal.selectedBook.get('condition')}}</div>
            <div class="text">Price: ${{bookModal.selectedBook.get('price')}}</div>
            <div class="text" ng-if="bookModal.selectedBook.get('notes')">Notes: {{bookModal.selectedBook.get('notes')}}</div>
          </div>

          <div class="info-footer">
            <button class="btn btn-primary btn-lg btn-block" ng-click="contactSeller()">Inquire About Book</button>
          </div>
        </div>
      </div>

      <div class="input-modal sell-book-modal modal-container" ng-show="sellObj.visible" ng-click="doNothing()" stop-event>
        <div class="info-header">
          <div class="title">Sell Book</div>
          <div class="subtitle">Please fill out all required* fields to sell a book. When someone is interested, we will send you an email and you can initiate the conversation.</div>
        </div>

        <form class="info-content" ng-submit="addBook()">
          <div class="label">Book Name*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.bookName" />
          </div>

          <div class="label">Picture URL (Use stock photo from Google or Amazon)</div>
          <div class="input-holder">
            <input type="text" placeholder="We approve each picture so don't get any ideas!" ng-model="sellObj.pictureUrl" />
          </div>

          <div class="label">ISBN*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.ISBN" placeholder="Back of the book!" />
          </div>

          <div class="label">Edition*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.edition" placeholder="Numbers only. Use '1' if no edition." />
          </div>

          <div class="label">Course Name*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.courseName" placeholder="EECS 203, MATH 214, etc." />
          </div>

          <div class="label">When was the course taken?*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.courseTaken" placeholder="Winter 2013, Fall 2015, etc." />
          </div>

          <div class="label">Price*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.price" placeholder="Just numbers please" />
          </div>

          <div class="label">Condition*</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.condition" placeholder="New, Like New, Used, Acceptable, Worn" />
          </div>

          <div class="label">Notes</div>
          <div class="input-holder">
            <input type="text" ng-model="sellObj.notes" placeholder="" />
          </div>

          <div class="input-holder button-holder">
            <button type="submit" class="btn btn-block" ng-class="{'btn-primary':!sellObj.addingError, 'btn-danger':sellObj.addingError}" ng-click="addBook()">
              <span ng-if="!sellObj.isAdding && !sellObj.addingError">Add Book</span>
              <span ng-if="sellObj.isAdding">Adding...</span>
              <span ng-if="sellObj.addingError">{{sellObj.addingError}}</span>
            </button>
          </div>
        </form>
      </div>
      
      <div class="input-modal login-modal modal-container" ng-show="loginObj.visible" ng-click="doNothing()" stop-event>
        <div class="info-header">
          <div class="title">Login</div>
          <div class="subtitle">Please login to buy and sell on MBooks. Or <span class="link" ng-click="showSignupModal()">signup</span> if you're not a member yet.</div>
        </div>

        <form class="info-content" ng-submit="loginUser()">
          <div class="label">E-Mail</div>
          <div class="input-holder">
            <input type="email" ng-model="loginObj.email" />
          </div>

          <div class="label">Password</div>
          <div class="input-holder">
            <input type="password" ng-model="loginObj.password" />
          </div>

          <div class="input-holder button-holder">
            <button type="submit" class="btn btn-block" ng-class="{'btn-primary':!loginObj.loginError, 'btn-danger':loginObj.loginError}" ng-click="loginUser()">
              <span ng-if="!loginObj.isLoggingIn && !loginObj.loginError">Login</span>
              <span ng-if="loginObj.isLoggingIn">Logging In...</span>
              <span ng-if="loginObj.loginError">{{loginObj.loginError}}</span>
            </button>
          </div>
        </form>
      </div>

      <div class="input-modal signup-modal modal-container" ng-show="signupObj.visible" ng-click="doNothing()" stop-event>
        <div class="info-header">
          <div class="title">Signup</div>
          <div class="subtitle">Please signup to buy and sell on MBooks. Or <span class="link" ng-click="showLoginModal()">login</span> if you're already a member.</div>
        </div>

        <form class="info-content" ng-submit="signupUser()">
          <div class="label">First Name</div>
          <div class="input-holder">
            <input type="text" ng-model="signupObj.firstName" />
          </div>

          <div class="label">Last Name</div>
          <div class="input-holder">
            <input type="text" ng-model="signupObj.lastName" />
          </div>

          <div class="label">Phone Number (not shared without your permission)</div>
          <div class="input-holder">
            <input type="text" placeholder="No Dashes" ng-model="signupObj.phone" />
          </div>

          <div class="label">E-Mail</div>
          <div class="input-holder">
            <input type="email" ng-model="signupObj.email" />
          </div>

          <div class="label">Password</div>
          <div class="input-holder">
            <input type="password" ng-model="signupObj.password" />
          </div>

          <div class="label">Confirm Password</div>
          <div class="input-holder">
            <input type="password" ng-model="signupObj.confirm" />
          </div>

          <div class="input-holder button-holder">
            <button type="submit" class="btn btn-block" ng-class="{'btn-primary':!signupObj.signupError, 'btn-danger':signupObj.signupError}" ng-click="loginUser()">
              <span ng-if="!signupObj.isSigningUp && !signupObj.signupError">Signup</span>
              <span ng-if="signupObj.isSigningUp">Signing Up...</span>
              <span ng-if="signupObj.signupError">{{signupObj.signupError}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="home-page">
  <div class="jumbotron">
    <div class="overlay"></div>
    
    <div class="table-layout">
      <div class="cell">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <h1>Find Books on Campus</h1>
          
              <p>
                Have you been using Facebook groups to buy and sell books? Does it suck? Then, this is what you need. We're a craigslist specifically for books at the University of Michigan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="container">
      <div class="row">  
        <div class="col-md-12">
          <div class="top-bar">
            <div class="left-button" ng-click="showAllBooks()" ng-class="{'active':recentBooksObj.visible}">Show All Books</div>

            <div class="right-side">
              <form class="search-holder" ng-submit="searchBooks()">
                <div class="input-holder">
                  <input type="text" placeholder="Or Search by Book Name, ISBN or Course Name (EECS 203, MATH 214)" ng-model="searchBooksObj.query" />
                </div>

                <button type="submit" ng-click="searchBooks()" class="btn btn-primary btn-lg animate-if" ng-show="searchBooksObj.query || searchBooksObj.visible">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="loading-container animate-if" ng-show="searchBooksObj.isLoading || recentBooksObj.isLoading">
      <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="book-cards animate-if" ng-show="searchBooksObj.visible && searchBooksObj.results.length && !searchBooksObj.isLoading">
      <div class="container">
        <div class="row">  
          <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="book in searchBooksObj.results">
            <div class="book-card" ng-click="showBookModal(book)">
              <div class="picture-holder">
                <div class="picture-overlay">
                  <div class="table-layout">
                    <div class="cell">
                      <div class="title">${{book.get('price')}}</div>
                      <div class="tip">{{book.get('numViews')}} Views</div>
                    </div>
                  </div>
                </div>
                <div class="picture" ng-if="book.get('picture')" back-img="{{book.get('picture').url()}}"></div>
                <div class="picture sad-face table-layout" ng-if="!book.get('picture')">
                  <div class="cell">
                    <i class="fa fa-frown-o"></i>
                  </div>
                </div>
              </div>

              <div class="info-holder">
                <div class="title">{{book.get('name')}}</div>
                <div class="subtitle">{{book.get('courseName')}} ({{book.get('courseTaken')}})</div>
                <div class="tip">{{book.get('condition')}} &bull; {{getBookPostedDate(book)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="book-cards animate-if" ng-show="recentBooksObj.visible && recentBooksObj.results.length && !recentBooksObj.isLoading">
      <div class="container">
        <div class="row">  
          <div class="col-md-3 col-sm-6 col-xs-12 animate-if" ng-repeat="book in recentBooksObj.results">
            <div class="book-card" ng-click="showBookModal(book)">
              <div class="picture-holder">
                <div class="picture-overlay">
                  <div class="table-layout">
                    <div class="cell">
                      <div class="title">${{book.get('price')}}</div>
                      <div class="tip">{{book.get('numViews')}} Views Today</div>
                    </div>
                  </div>
                </div>
                <div class="picture" ng-if="book.get('picture')" back-img="{{book.get('picture').url()}}"></div>
                <div class="picture sad-face table-layout" ng-if="!book.get('picture')">
                  <div class="cell">
                    <i class="fa fa-exclamation-circle"></i>
                    <div class="text">No Image Yet</div>
                  </div>
                </div>
              </div>

              <div class="info-holder">
                <div class="title">{{book.get('name')}}</div>
                <div class="subtitle">{{book.get('courseName')}} ({{book.get('courseTaken')}})</div>
                <div class="tip">{{book.get('condition')}} &bull; {{getBookPostedDate(book)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 